<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors                      = "true"
        debug                       = "true"
        verbose                     = "true"
        report-useless-tests        = "true"
        strict-coverage             = "true"
        disallow-test-output        = "true"
        enforce-time-limit          = "true"
        strict                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
>
    <testsuites>
        <testsuite name="sainsbury">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
